/*
Project Name: Relaxr Blog
Client: Relaxr
Author: Matt Megill
Developer @GA in NYC
*/

/******************************************
/* SETUP
/*******************************************/

/**
 * 00 - Normalize OR Reset
 * 01 - Generic
 * 02 - Base Styles
 * 03 - Layout
 * 04 - Header & Navigation
 * 05 - Content
 * 06 - Footer
 * 07 - Miscellaneous
**/

/******************************************
/* Generic
/*******************************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: white;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background: black;
  text-align: center;
}

body>* {
  max-width: 1250px;
  margin: auto;
  background: black;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
  width: 100%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

.main-content {
  display: flex;
}

.recent-posts {
  width: 300px;
  flex-grow: 2;
}

.no-plastic,
.links {
  width: 100px;
  flex-grow: 1;
}

/******************************************
/* HEADER AND NAVIGATION
/*******************************************/

h1 {
  font-weight: 800;
  font-size: 80px;
}

h1:first-of-type {
  padding-left: 50px;
}

h1:last-of-type {
  padding-right: 50px;
}

header img {
  height: 200px;
  width: auto;
}

nav {
  margin: 20px;
  padding-left: 60px;
}

.hero img {
  height: 200px;
  width: auto;
  padding-top: 25px;
}

nav ul li a {
  background-color: red;
  background-size: 200px;
  border-radius: 50%;
  color: black;
  font-size: 24px;
  border-style: none;
  font-weight: 600;
  padding: 20px;
}

nav ul li a:hover {
  background-color: green;
}

/******************************************
/* CONTENT
/*******************************************/

h2 {
  font-weight: 600;
  font-size: 40px;
  color: red;
}

h3 {
  color: blue;
  font-size: 24px;
  font-weight: 600;
}

section a {
  font-size: 20px;
  color: green;
  font-weight: 300;
}

section a:hover {
  font-style: italic;
}

p {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.recent-posts {
  max-height: 600px;
  overflow-y: scroll;
}

.recent-posts img {
  height: 200px;
  width: auto;
}

.main-content {
  padding-top: 30px;
}

.links h2 {
  padding-left: 30px;
}

/******************************************
Footer
/*******************************************/

h4 {
  font-weight: 300;
  font-size: 10px;
  padding: 20px;
}

footer p {
  font-style: italic;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: red;
  padding-top: 40px;
}